[user]
	name = Henry Limm
{{- if regexFind "HLIMM.*LTP" .chezmoi.hostname }}
	email = henry.limm@motivps.com
{{- else }}
	email = hlimm@hmc.edu
{{- end }}
[core]
	autocrlf = input
	editor = nvim -c startinsert
	excludesFile = C:\\Users\\hlimm\\.gitignore
	attributesfile = ~/.gitattributes
	eol = lf
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool "diffsitter"]
	cmd = diffsitter --color=on "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[gui]
	fontdiff = -family \"Delugia Nerd Font\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[merge]
	conflictstyle = "merge"
	tool = nvimdiff2
[help]
	format = "html"
[credential]
	helper = manager-core
[commit]
	verbose = true
[pretty]
	hloneline = format:%C(auto)%h %C(magenta)%cd %C(blue)%>(10,trunc)%aL %C(auto)%<|(80,trunc)%s%+D
[log]
	date = format:%y%m%d %R
	decorate = short
[format]
	pretty = hloneline
[alias]
	detail = show --pretty=fuller
	last = show -1 --pretty=fuller HEAD
	origin = log --diff-filter=A --follow -1
	origin-date = origin --format=%aD
	pick = log -G
	tree = log --graph --all --simplify-by-decoration
	uniq = cherry -v
	ten = log -10
	amend = commit --amend --no-edit
	i-said-commit = commit --no-verify
	isaidcommit = i-said-commit
	unstage = restore --staged
	statuss = sstatus
	branches = branch -l
	mergetry = checkout -b mergetry
	diffstat = diff --stat
[branch]
	sort = -committerdate
[color "diff"]
	old = red normal
	new = green normal bold
[interactive]
	diffFilter = delta --color-only
[mergetool]
	keepBackup = false
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts $MERGED $BASE $LOCAL $REMOTE
	trustExitCode = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[delta]
	syntax-theme = none
	side-by-side = false
	line-numbers = true
	keep-plus-minus-markers = true
	minus-style = red black
	minus-emph-style = red black strike
	plus-style = green black underline
	plus-emph-style = green black italic underline
	zero-style = normal dim
	line-numbers-minus-style = brightred normal dim
	line-numbers-plus-style = brightgreen normal dim
	line-numbers-zero-style = normal normal dim
	line-numbers-left-format = {nm:^4}
	line-numbers-right-format = {np:^4}
	file-decoration-style = none
	file-style = normal
	hunk-header-decoration-style = none
	hunk-header-style = normal
[init]
	defaultBranch = main
[safe]
	directory = %(prefix)///sombrero/~it_shared/~Scripts
	directory = %(prefix)///factory20-pc/hw-test-suite/
[status]
	submodulesummary = false
	showUntrackedFiles = normal
[column]
	ui = never
